header
{background:#FFDAB9;
padding: 20px 0;
}

.fases
{width: 25%}

.caixa {
  position: relative;
  width:940px;
  margin: 0 auto;
}

nav
{position:absolute;
top:75px;
right:0}

nav li
{display: inline;
margin: 0 0 0 15px}

nav a
{ text-transform:uppercase;
  color:#000000;
font-weight:bold;
font-size: 22px;
text-decoration: none}

.produtos
{width: 940px;
  margin: 0 auto;

body
{
  text-align: center;
  
  background: #ccgccc;
}

h1
{font-size: 25px}

p{font-size: 20px}

em strong
{
  color: green
}

#borboleta
{width: 50%}
